*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: montserrat, sans-serif;
}
input, button{
  appearance: none;
  background:none;
  border: none;
  outline: none;
}

.App{
  /* height: 100vh; */
  display: flex;
  align-items: center;
  align-content: center;
  background-color: #53565A;
}

form{
  display: block;
  position: relative;
  width: 360px;
  margin: 0 auto;

}

form:after{
  content: '';
  display: block;
  position: absolute;
  top: -5px;
  left: -5px;
  right: -5px;
  bottom: -5px;
  z-index: 1;
  background-image: linear-gradient(to bottom right, #FFCE00, #FE4880);

}

form .form-inner {
  position: relative;
  display: block;
  background-color: #FFF;
  padding: 30px;
  z-index: 2;

}

form .form-inner h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;

}

form .form-inner .form-group{
  display: block;
  width: 300px;
  margin-bottom: 15px; 
}

.form-group .form-group label{
  display: block;
  color: #666;
  font-size:12px;
  margin-bottom: 5px;
  transition: 0.4s; 
}

.form-group .form-group:focus-within lable{
  color: #fe4880;

}

form .form-inner .form-group input{
  display: block;
  width: 100%;
  padding: 10px 15px;
  background-color: #f8f8f8;
  border-radius: 8px;
  transition: 0.4s;
}

form .form-inner .form-group input:focus{
  box-shadow: 0px 0px 3px rgb(0, 0, 0, 0.2);

}

form .form-inner input[type="submit"],
.welcome button{
  display: inline-block;
  padding: 10px 15px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #ffce00 50%, #ffce00 50%, #fe4880);
  background-size: 200%;
  background-position: 0%;
  transition: 0.4s;
  color: #FFF;
  font-weight: 700;
  cursor: pointer;
}

form .form-inner input[type="submit"]:hover, .welcome button:hover {
  background-position: 100% 0%;
}

.welcome{
  width: 100%;
  /* max-width: 400px; */
  background-color: #FFF;
  padding: 15px 30px;
  margin: 0 auto;

}

.welcome h2{
  color: #888;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 30px;
}

.welcome h2 span{
  color: #fe4880;
  font-weight: 700;
}
html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
  padding: 0;
  margin: 0;
}

/* .app {
  width: 960px;
  margin: 0 auto;
  padding: 20px;
} */

nav ul {
  list-style: none;
  display: flex;
  background-color: black;
  margin-bottom: 20px;
}

nav ul li {
  padding: 20px;
}

nav ul li a {
  color: white;
  text-decoration: none;
}

.current {
  border-bottom: 4px solid white;
}

h1 {
  margin-bottom: 20px;
}

p {
  margin-bottom: 15px;
}